.todo button {
    all: unset;
    padding: 12px;
    font-size: 24px;
    color: red;
    background-color: transparent;
    transition: 0.4s;
    &:hover {
        color: white;
        background-color: red;
    }
}

.todo p{
    font-size: 24px;
}

.todo {
    max-width: 1240px;
    margin: auto;
    padding: 16px 28px;
    width: 100%;
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.todo input {
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 16px 0;
    margin: 7px 0;
}